build/
.ipynb_checkpoints/
__pycache__/
.vscode
experiments/*/output
seed_embeddings/triplets.txt
seed_embeddings/preprocessed/*
.cache/

html
latex
sqlite3.ll
tryouts/Data_things/instruction_embeddings/*
tryouts/Data_things/data/*
tryouts/Data_things/processed_data/*
tryouts/Data_things/processed_instruction_embeddings/*
tryouts/Data_things/program_embeddings/*