build/
.ipynb_checkpoints/
__pycache__/
.vscode
experiments/*/output
seed_embeddings/triplets.txt
seed_embeddings/preprocessed/*
.cache/

html
latex
sqlite3.ll
tryouts/Data_things/instruction_embeddings/*
tryouts/Data_things/data/*
tryouts/Data_things/processed_data/*
tryouts/Data_things/processed_instruction_embeddings/*
tryouts/Data_things/program_embeddings/*
tryouts/Data_things/train_val_test_instrcution/*
tryouts/Classifier_poj104/Seq2Seq_transformer/output1.log
tryouts/Classifier_poj104/Seq2Seq_transformer/output2.log
tryouts/Classifier_poj104/Seq2Seq_transformer/transformer_model.pth
tryouts/Classifier_poj104/Seq2Seq_transformer/training_log.pth
tryouts/Classifier_poj104/Seq2Seq_transformer/best_transformer_model.pth
tryouts/Classifier_poj104/training_lst_tran/best_model.pth
tryouts/Classifier_poj104/Enhanced*
tryouts/Classifier_poj104/checkpoint*
tryouts/Classifier_poj104/best_model*